.useful-places-block {
    margin: 20px;
    width: 205px;
    float: left;
}
ul#placeList {
    margin-top: 10px;
}
ul#placeList li {
    list-style: none;
    border: solid 1px gray;
    border-bottom: none;
    padding: 5px;
}
ul#placeList li:last-of-type {
    border-bottom: solid 1px gray;
}
ul#placeList li button.destroy {
    float: right;
}

#pagination ul li {
    list-style: none;
    float: left;
    margin: 3px;
    margin-top: 6px;
}
#pagination ul li.current a {
    color: #000000;
}

.right-side {
    margin-top: 19px;
    margin-right: 19px;
}

#search-form {
    height: 70px;
}

#map-canvas {
    height: 500px;
}

input[name="lat"], input[name="long"] {
    width: 140px;
}

input[name="searched-lat"], input[name="searched-long"], input[name="searched-rad"] {
    width: 160px;
}

input[name="getPoint"] {
    width: 46px;
    height: 54px;
    float: right;
}

input[name="searched-rad"] {
    width: 100px;
}
