.container {
    margin: 20px;
}

#map_canvas {
    height: 500px;
}

div.place-list {
    width: 205px;
    float: left;
    margin-right: 20px;
}

ul#placeList li div.description {
    display: none;
}
ul#placeList li.opened div.description {
    display: block;
}
ul.place-list li,
ul#placeList li {
    list-style: none;
    border: solid 1px gray;
    border-bottom: none;
    padding: 5px;
}
ul.place-list li.current,
ul#placeList li.current {
    background-color: yellow;
}
ul.place-list li.chosen,
ul#placeList li.chosen {
    background-color: #00E64D;
}
ul.place-list li:last-of-type,
ul#placeList li:last-of-type {
    border-bottom: solid 1px gray;
}
ul.place-pagination li {
    list-style: none;
    float: left;
    margin: 3px;
    margin-top: 6px;
}
ul.place-pagination li a.current {
    color: #000000;
}

ul#placeList li {
    position: relative;
}

ul#placeList li a.zoom-to {
    position: absolute;
    right: 5px;
    top: 5px;
}
ul#placeList li a.delete {
    position: absolute;
    right: 38px;
    top: 5px;
}
ul#placeList li a.edit {
    position: absolute;
    right: 25px;
    top: 5px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.invisible {
    display: none;
}
